@charset "utf-8";


$main-color : #a64b2a;
$bg-color : #191919;
$new-color : #072227;
$vista-color : #f5f5f5;
$main-font : 'LeferiPoint-BlackObliqueA';
$sub-font : 'LeferiBaseType-RegularA';
$margin : 300px;
$width : 1500px;
$b-font-size: 70px;




@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin wrap-width{
    width: 1600px;
    margin: 0 auto;
}


@mixin border{
    border: 5px solid $main-color;
}



@mixin title{
    h3{
        font-size: 70px;
        text-align: center;
        padding: 100px 0;
    }
}






